extends partial/layout

block container
    include mixins/post
    .archive
        h2.archive-title= page.tag
        +postList()

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright