section.friend-links
    if theme.friend_links && theme.friend_links.length > 0
        h2 友情链接
        ul
            each link in theme.friend_links
                li
                    a(href=link.url) #{link.name}
                    span ：#{link.description}
