include mixins/nav

nav.site-nav
    .nav-section.page-nav
        ul.nav-list
            each item in theme.nav.pages
                li.nav-list-item
                    - var path = theme.menu[item];
                    +internal-link(path, item)

    .nav-section.external-nav
        ul.nav-list
            each item in theme.nav.external
                li.nav-list-item
                    - var path = theme.menu[item];
                    +external-link(path, item)

    .nav-section.utility-nav
        ul.nav-list
            each item in theme.nav.utility
                li.nav-list-item
                    case item
                        when 'languages'
                            +language-switcher()
                        when 'search'
                            if config.search
                                +search-box()