mixin home()
    - let prev = page.prev_link;
    - let next = page.next_link
    .paginator
        if page.prev
            a.prev(href=url_for(prev))!= __('prev')
        if page.next
            a.next(href=url_for(next))!= __('next')


mixin post()
    - let prev = page.prev ? page.prev.path : false;
    - let next = page.next ? page.next.path : false;
    .paginator
        if prev
            a.prev(href=url_for(prev))!= __('prev_post')
        if next
            a.next(href=url_for(next))!= __('next_post')