mixin postInfo(item)
    .post-info
        != full_date(item.date, 'l')
        if item.from && (is_home() || is_post())
            a.post-from(href=item.from target="_blank" title=item.from)!= __('translated')

mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo(item)
                    if item.excerpt
                        .post-content
                            != item.excerpt
                        a.read-more(href= url_for(item.path))!= __('more')
                    else
                        .post-content
                            != item.content
        - })


mixin postList()
    .archive
        - let year = 0;
        - let change = false;
        - page.posts.each(function (item) {
            - const itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change
                h2.archive-year!= year
            .post-item
                +postInfo(item)
                a.post-title-link(href= url_for(item.path))
                    != item.title
        - })


mixin post(item)
    .post
        article.post-block
            h1.post-title
                != item.title
            +postInfo(item)
            .post-content
                != item.content

mixin taggedPosts()
    .archive
        - const tags = {};
        - page.posts.each(function (item) {
            - item.tags.data.forEach(function (tag) {
                - if (!tags[tag.name]) {
                    - tags[tag.name] = [];
                - }
                - const alreadyAdded = tags[tag.name].some(function (existingItem) {
                    - return existingItem._id === item._id;
                - });
                - if (!alreadyAdded) {
                    - tags[tag.name].push(item);
                - }
            - });
        - });

        - for (let tag in tags) {
            h3.archive-title!= tag
            - tags[tag].forEach(function (item) {
                .post-item
                    +postInfo(item)
                    a.post-title-link(href= url_for(item.path))
                        != item.title
            - });
        - }
